html {
	background: white;
}

.androgyne-font { 
	font-family: "Androgyne Medium", Verdana, Tahoma;
}

.helvetica-font { 
	font-family: "Helvetica", Verdana, Tahoma;
}

.my-navbar {
	background: black;
	color: white;

	p {
		color: white;
	}
}

.items-header {
	width: 100%;
	display: flex;
	justify-content: space-between;

	p {
		font-size: 35px;
		margin: 0 auto;
		padding-top: 10px;
	}

	@media screen and (max-width: 767px){
		p {
			font-size: 25px;
			padding-top: 6px;
		}
	}
}

.miofilm-logo {
	margin: 10px auto;
	height: 50px;
	float: left;

	@media screen and (max-width: 767px){
		margin: 5px auto;
		height: 40px;
	}

	@media screen and (max-width: 512px){
		display: none;
	}
}

.miofilm-imagotipo {
	float: left;
	display: none;

	@media screen and (max-width: 512px){
		display: inherit;
		margin: 5px auto;
		height: 30px;
	}
}

.tagline-header {
	float: left;

	@media screen and (max-width: 512px){
		display: none;
	}
}


.profile-img {
	float: left;
	border: 2px solid white;
	border-radius:50%;
	margin: 15px auto;
	height: 40px;

	@media screen and (max-width: 767px){
		margin: 10px auto;
		height: 30px;
	}

	@media screen and (max-width: 512px){
		margin: 5px auto;
		height: 30px;
	}
}

footer {
	margin-top: 20px;
}

.items-footer {
	width: 100%;
	display: flex;
	margin: 20px 0 15px;
	justify-content: space-around;

	h4 {
		border-bottom: 2px dashed white;
		padding-bottom: 5px;
		color: $turquoise-blue;
	}

	@media screen and (max-width: 410px){
		display: inline-block;
	}
}

.contact {
	float: left;

	@media screen and (max-width: 410px){
		display: inline-block;
		margin-left: 20%;
		margin-right: 100px;
		text-align: center;
	}
}

.follow-us {
	float: left;

	@media screen and (max-width: 410px){
		display: inline-block;
		margin-left: 26%;
		text-align: center;
	}
}

.copyright {
	clear: both;
	text-align: center;
}