<div class="header">
	<div class="img-user"></div>
	<div class="title-page">
		<p class="helvetica-font"><strong>PROFILE</strong></p>
	</div>
</div>
<div class="container">
	<div class="nav-pages">
		<a href="/#/profile">Seen movies</a>
		<a href="/#/profile//to-see" class="active">Movies to see</a>
		<p href="/#/" ng-click="logout()" class="btn btn-turquoise">Log out</p>
	</div>
	<div class="list-watched-films" ng-controller="listFilmsToSeeController">
		<div class="films-watched" ng-repeat="movies in infoFilmToSee">
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path}}" altSrc="{{imageNotFoundCover}}" onerror="this.src = $(this).attr('altSrc')">
			</a>
			<div>
				<a href="/#/specifications/{{movies.id}}" target="_blank" style="display:inline-block">
					<p><strong>{{ movies.original_title }}</strong></p>
				</a>
				<a href="" ng-click="removeFilm(movies.id)" style="display:inline-block">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			</div>
		</div>
		<div class="no-films-stored">No movies to see!</div>
	</div>
</div>