<div class="header">
	<div class="img-user"></div>
	<div class="title-page">
		<p class="helvetica-font"><strong>PROFILE</strong></p>
	</div>
</div>
<div class="container">
	<div class="nav-pages">
		<a href="/#/profile" class="active">Movies seen</a>
		<a href="/#/profile">Movies to see</a>
		<p href="/#/" ng-click="logout()" class="btn btn-turquoise">Log out</p>
	</div>
	<div class="list-watched-films" ng-controller="listFilmsProfileController">
		<div class="films-watched" ng-repeat="movies in infoFilmSeen">
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path}}" altSrc="{{imageNotFoundCover}}" onerror="this.src = $(this).attr('altSrc')">
			</a>
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<p><strong>{{ movies.original_title }}</strong></p>
			</a>
			<p>
				<em>{{ movies.mood }}</em> &nbsp;
				<i class="glyphicon glyphicon-star-empty star"></i> {{ movies.rate }} &nbsp;
				<a href="" ng-click="removeFilm(movies.id)"">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			</p>
		</div>
	</div>
</div>