<div class="container">
	<div class="header">
		<div class="profile-img"></div>
		<div class="title-page">
			<p class="helvetica-font"><strong>PROFILE</strong></p>
		</div>
		<div class="nav-pages">
			<a href="#">Movies seen</a>
			<a href="#">Movies to see</a>
			<a href="/#/" ng-click="logout()">Log out</a>
		</div>
	</div>

	<div class="list-watched-films">
		<div class="films-watched" ng-repeat="movies in infoFilmSeen">
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path}}" altSrc="{{imageNotFoundCover}}" onerror="this.src = $(this).attr('altSrc')">
			</a>
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<p><strong>{{ movies.original_title }}</strong></p>
			</a>
			<p><em>{{ movies.mood }}</em> &nbsp; &nbsp; <i class="glyphicon glyphicon-star-empty star"></i> {{ movies.rate }}</p>
		</div>
	</div>

</div>