.header {
	background: $turquoise-blue;
	padding: 40px 0 50px;
	box-shadow: 0 0 15px black;

	.title-page {
		p {
			color: white;
			font-size: 2.5em;
			text-align: center;
		}
	}
}

.img-user {
	width: 150px;
	height: 150px;
	background-size: 100%;
	position: absolute;
	top: 175px;
	left: 74px;
	border-radius: 5px;
	border: 3px solid white;
	background-color: $turquoise-blue;
	background: url('../img/img-user.png');

	@media screen and (max-width: 625px){
		top: 150px;
	}
}

.nav-pages {
	margin-top: 30px;
	text-align: right;
	margin-bottom: 100px;

	a {
		font-size: 1.3em;
		color: grey;
		margin-left: 15px;

		&.active {
			border-bottom: 4px solid $turquoise-blue;
			transition: all 0.5s ease;
		}
	}

	a:hover {
		text-decoration: none;
		border-bottom: 2px solid $turquoise-blue;
		transition: all 0.5s ease;
	}

	a:focus {
		text-decoration: none;
	}

	p {
		margin-left: 25px;
	}

	@media screen and (max-width: 625px){
		margin-top: 140px;
		text-align: center;
		margin-bottom: 30px;
	}
	@media screen and (max-width: 399px){
		p {
			margin-top: 25px;
		}
	}
}

.list-watched-films {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
	// margin: 60px 0 50px;
	// padding: 40px 25px;
	// border: 1px solid $turquoise-blue;
	// box-shadow: 0 0 10px black;

	.films-watched {
		margin: 20px 30px;
		width: 170px;

		p {
			margin-top:5px;
			margin-bottom: 0;
		}

		img {
			width: 150px;
			height: 225px;
			margin-bottom: 5px;
			border-radius: 5px;
		}

		@media screen and (max-width: 660px){
			margin: 20px 10px;
		}
	}
}

.glyphicon-remove {
	color: #c82424;
}

.no-films-stored {
	display: none;
	font-size: 2.5em;
	color: #545454;
	// text-shadow: 0 0 15px $turquoise-blue;
	margin-bottom: 50px;
	padding: 15px;
	border: 3px dotted $turquoise-blue;
}