.specifications-film {
	margin: 40px 0;
}

.header-cover {
	height: 250px;
	background-size: 100%;
	position: relative;
	margin-bottom: 80px;
	border-radius: 5px;
	background-color: grey;
}

.cover {
	width: 151px;
	height: 225px;
	background-size: 100%;
	position: absolute;
	bottom: -70px;
	left: 30px;
	border-radius: 5px;
	border: 3px solid white;
	background-color: $turquoise-blue;

	@media screen and (max-width: 580px){
		bottom: 10px;
	}
}

.title-film {
	position: absolute;
	bottom: -75px;
	left: 210px;

	p {
		font-size: 50px;
		color: $turquoise-blue;
		text-shadow: 2px 2px 0 black;
		line-height: 60px;
	}

	@media screen and (max-width: 767px){
		bottom: -65px;

		p {
			font-size: 40px;
			line-height: 50px;
		}
	}

	@media screen and (max-width: 580px){
		bottom: -75px;
		left: 10px;

		p {
			font-size: 30px;
			line-height: 40px;
		}
	}
}

.basic-info {
	margin: 40px 0 0 50px;
	border: 2px solid $turquoise-blue;
	box-shadow: 0 0 10px black;
	background-color: black;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	height: 105.5px;
	width: 105.5px;

	p {
		margin: 5px 0;
		color: white;
	}

	@media screen and (max-width: 767px){
		display: flex;
		margin: 35px 10%;
		border: 2px solid $turquoise-blue;
		background-color: black;
		padding: 10px;
		border-radius: 0%;
		height: 50px;
		width: 80%;
		justify-content: space-around;

		p {
			float: left;
			margin: 5px 0;
			color: white;
		}
	}

	@media screen and (max-width: 580px){
		margin: 15px 10% 35px;
	}
}

.psynopsis {
	border-left: 10px solid #333333;
	padding-left: 10px;
	padding-right: 15px;
}

.psynopsis-header {
	@media screen and (max-width: 580px){
		font-size: 26px;
	}
}

.film-seen {
	margin: 40px;
	border: 1px solid grey;
	box-shadow: 0 0 10px grey;
	padding-top: 20px;

	@media screen and (max-width: 550px){
		margin: 15px;
		padding: 10px;
	}

	.seen-info-A {
		text-align: center;
		margin-top: 20px;

		.img-imagotipo {
			margin: 10px;
		}
	}

	.send-info-btn {
		text-align: center;
		margin-bottom: 20px;
	}

	.icons-felt {
		margin: 20px 0;

		h3 {
			margin-top: 20px;
			text-align: center;
		}

		.how-do-you-feel {
			padding-top: 20px;
			display: block;
			margin: 0 auto;
		}

		ul {
			list-style: none;
			margin-top: 20px;
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;

			li {
				margin: 10px;

				.individual-icon {
					a {
						display: block;

						// &.btn {
						// 	color: white;
						// 	margin-top: 10px;
						// 	width: 40px;
						// }

						.mood-icon {
							width: 40px;
						}
					}
					a:focus {
						border-radius: 50%;
						border: 2px solid $turquoise-blue;
					}
				}
			}
		}
	}
}

.not-logged, .not-info-complete {
	display: none;
	background-color: #FA5858;
	border: 1px solid red;
	color: white;
	margin: 40px;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;

	p {
		margin: 10px;
		font-size: 1.3em;
		padding-left: 25px;
		text-align: center;

		a {
			color: $turquoise-blue;
			text-shadow: 0 0 5px black;
		}
	}
}

.info-complete {
	display: none;
	background-color: #32ff32;
	border: 1px solid green;
	color: white;
	margin: 40px;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;

	p {
		margin: 10px;
		font-size: 1.3em;
		padding-left: 25px;
		text-align: center;
	}
}

.btn-turquoise {
	background: $turquoise-blue;
	color: white;
}
.btn-turquoise:hover {
	background: darken($turquoise-blue, 10%);
	color: white;
}
.btn-turquoise:focus {
	color: white;
}
