$mad-red: #ff3838;
$scared-grey: #cfcdcd;
$joyful-purple: #bf9bcb;
$powerful-orange: #ff982a;
$paceful-blue: #00b692;
$sad-blue: #00c9f4;

$turquoise-blue: #33cc99;


@font-face {
font-family: 'Androgyne Medium';
font-style: normal;
font-weight: normal;
src: local('Androgyne Medium'), url('Androgyne_TB.woff') format('woff');
}