<div ng-controller="searcherController" class="bg-searcher">
	<p class="tagline-searcher androgyne-font">Siente el cine</p>
	<form ng-submit="submit()" class="col-sm-6 col-sm-offset-3 input-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Busca una película..." ng-model="filmToSearch">
				<span class="input-group-btn">
					<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</span>
		</div>
	</form>
</div>

<div class="container" ng-controller="moodsController">

	<div class="icons-feelings">
		<h1 class="androgyne-font">Como te sientes hoy?</h1>
		<ul>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Mad')">
						<img class="mood-icon go-dawn" src="img/Mad.png" alt="Mad icon" href="" title="Hurt, hostile, angry, rage, hateful or critical">
					</a>
					<a class="btn btn-mad go-dawn" href="/#/" role="button" title="Hurt, hostile, angry, rage, hateful or critical" ng-click="filterSelectedFeelsMood('Mad')">Cabreado</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Scared')">
						<img class="mood-icon go-dawn" src="img/Scared.png" alt="Scared icon" href="" title="Rejected, confused, helpless, submissive, insecure or anxious">
					</a>
					<a class="btn btn-scared go-dawn" href="/#/" role="button" title="Rejected, confused, helpless, submissive, insecure or anxious" ng-click="filterSelectedFeelsMood('Scared')">Asustado</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Joyful')">
						<img class="mood-icon go-dawn" src="img/Joyful.png" alt="Joyful icon" href="" title="Excited, sexy, energetic, playful, creative or aware">
					</a>
					<a class="btn btn-joyful go-dawn" href="/#/" role="button" title="Excited, sexy, energetic, playful, creative or aware" ng-click="filterSelectedFeelsMood('Joyful')">Contento</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Powerful')">
						<img class="mood-icon go-dawn" src="img/Powerful.png" alt="Powerful icon" href="" title="Faithful, important, hopeful, appreciated, respected or proud">
					</a>
					<a class="btn btn-powerful go-dawn" href="/#/" role="button" title="Faithful, important, hopeful, appreciated, respected or proud" ng-click="filterSelectedFeelsMood('Powerful')">Potente</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Peaceful')">
						<img class="mood-icon go-dawn" src="img/Peaceful.png" alt="Peaceful icon" href="" title="Content, thoughtful, intimate, loving, trusting or nurturing">
					</a>
					<a class="btn btn-paceful go-dawn" href="/#/" role="button" title="Content, thoughtful, intimate, loving, trusting or nurturing" ng-click="filterSelectedFeelsMood('Peaceful')">Tranquilo</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="filterSelectedFeelsMood('Sad')">
						<img class="mood-icon go-dawn" src="img/Sad.png" alt="Sad icon" href="" title="Guilty, ashamed, depressed, lonely, bored or sleepy">
					</a>
					<a class="btn btn-sad go-dawn" href="/#/" role="button" title="Guilty, ashamed, depressed, lonely, bored or sleepy" ng-click="filterSelectedFeelsMood('Sad')">Triste</a>
				</div>
			</li>
		</ul>
	</div>

</div>


<div class="questions-to-filter">
	<div id="question1" ng-id="visible" ng-controller="question1Controller">
		<p class="step">PASO 1/3</p>
		<p class="question-step">Quieres ver una película de tu estado o del opuesto?</p>
		<div>
			<a class="btn-step" href="/#/" ng-click="filterSetMoodFilm('mood')">Mi estado</a>
			<a class="btn-step" href="/#/" ng-click="filterSetMoodFilm('opposite')">Opuesto</a>
		</div>
	</div>
	<div id="question2" ng-controller="question2Controller">
		<p class="step">PASO 2/3</p>
		<p class="question-step">con una duración de...</p>
		<a class="btn-step" href="/#/" ng-click="filterSetDurationFilm('0','300')">No importa</a>
		<a class="btn-step" href="/#/" ng-click="filterSetDurationFilm('0','90')">Menos de 90'</a>
		<a class="btn-step" href="/#/" ng-click="filterSetDurationFilm('90','300')">Más de 90'</a>
		<a class="btn-step" href="/#/" ng-click="filterSetDurationFilm('90','120')">Entre 90' y 120'</a>
		<a class="btn-step" href="/#/" ng-click="filterSetDurationFilm('120','300')">Más de 120'</a>
	</div>
	<div id="question3" ng-controller="question3Controller">
		<p class="step">PASO 3/3</p>
		<p class="question-step">producida en...</p>
		<a class="btn-step" href="/#/" ng-click="filterSetProduced('0000')">Cualquier momento</a>
		<a class="btn-step" href="/#/" ng-click="filterSetProduced('1980')">1980 o superior</a>
		<a class="btn-step" href="/#/" ng-click="filterSetProduced('1990')">1990 o superior</a>
		<a class="btn-step" href="/#/" ng-click="filterSetProduced('2000')">2000 o superior</a>
		<a class="btn-step" href="/#/" ng-click="filterSetProduced('2010')">2010 o superior</a>
	</div>
	<div id="question4" ng-controller="question4Controller">
		<a href="/#/" ng-click="searchFilmWithFilter()" class="luck-search"><span>Buscar</span></a>
	</div>
</div>


<div class="container">

	<div class="to-move-scroll"></div>

	<div class="list-films" ng-controller="listFilmsController">
		<div class="insert-text"></div>
		<div class="film" ng-repeat="movies in infoFilmToList">
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path}}" altSrc="{{imageNotFoundCover}}" onerror="this.src = $(this).attr('altSrc')">
			</a>
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<p><strong>{{ movies.original_title }}</strong></p>
			</a>
			<p><em>{{ movies.release_date | date : 'yyyy' }}</em> &nbsp; &nbsp; <i class="glyphicon glyphicon-star-empty star"></i> {{ movies.vote_average }}</p>
		</div>

		<div class="bottom-films">
			<a href="top" class="go-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
		</div>
	</div>

</div>