<div class="bg-searcher">
	<p class="tagline-searcher androgyne-font">feels the movies</p>
	<form ng-submit="submit()" class="col-sm-6 col-sm-offset-3 input-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search a film..." ng-model="filmToSearch">
				<span class="input-group-btn">
					<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</span>
		</div>
	</form>
</div>

<div class="container">

	<div class="icons-feelings">
		<h1 class="androgyne-font">How do you feel today?</h1>
		<ul>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Mad')">
						<img src="../../img/Mad.png" alt="" href="" title="Hurt, hostile, angry, rage, hateful or critical">
					</a>
					<a class="btn btn-mad" href="/#/" role="button" title="Hurt, hostile, angry, rage, hateful or critical" ng-click="searchFilmByMood('Mad')">Mad</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Scared')">
						<img src="../../img/Scared.png" alt="" href="" title="Rejected, confused, helpless, submissive, insecure or anxious">
					</a>
					<a class="btn btn-scared" href="/#/" role="button" title="Rejected, confused, helpless, submissive, insecure or anxious" ng-click="searchFilmByMood('Scared')">Scared</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Joyful')">
						<img src="../../img/Joyful.png" alt="" href="" title="Excited, sexy, energetic, playful, creative or aware">
					</a>
					<a class="btn btn-joyful" href="/#/" role="button" title="Excited, sexy, energetic, playful, creative or aware" ng-click="searchFilmByMood('Joyful')">Joyful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Powerful')">
						<img src="../../img/Powerful.png" alt="" href="" title="Faithful, important, hopeful, appreciated, respected or proud">
					</a>
					<a class="btn btn-powerful" href="/#/" role="button" title="Faithful, important, hopeful, appreciated, respected or proud" ng-click="searchFilmByMood('Powerful')">Powerful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Peaceful')">
						<img src="../../img/Peaceful.png" alt="" href="" title="Content, thoughtful, intimate, loving, trusting or nurturing">
					</a>
					<a class="btn btn-paceful" href="/#/" role="button" title="Content, thoughtful, intimate, loving, trusting or nurturing" ng-click="searchFilmByMood('Peaceful')">Peaceful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Sad')">
						<img src="../../img/Sad.png" alt="" href="" title="Guilty, ashamed, depressed, lonely, bored or sleepy">
					</a>
					<a class="btn btn-sad" href="/#/" role="button" title="Guilty, ashamed, depressed, lonely, bored or sleepy" ng-click="searchFilmByMood('Sad')">Sad</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="list-films">
		<div ng-repeat="movies in infoFilmSearched">
			<img src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path }}" alt="">
			<strong><a href="/#/specifications/{{movies.id}}" target="_blank"><p>{{ movies.original_title }}</p></a></strong>
			<p>{{ movies.release_date }}</p>
			<p>{{ movies.vote_average }}</p>
		</div>
	</div>

</div>