<div class="bg-searcher">
	<p class="tagline-searcher androgyne-font">feels the movies</p>
	<form ng-submit="submit()" class="col-sm-6 col-sm-offset-3 input-group">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search a film..." ng-model="filmToSearch">
				<span class="input-group-btn">
					<button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</span>
		</div>
	</form>
</div>

<div class="container">

	<div class="icons-feelings">
		<h1 class="androgyne-font">How do you feel today?</h1>
		<ul>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Mad')">
						<img class="mood-icon" src="../../img/Mad.png" alt="Mad icon" href="" title="Hurt, hostile, angry, rage, hateful or critical">
					</a>
					<a class="btn btn-mad" href="/#/" role="button" title="Hurt, hostile, angry, rage, hateful or critical" ng-click="searchFilmByMood('Mad')">Mad</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Scared')">
						<img class="mood-icon" src="../../img/Scared.png" alt="Scared icon" href="" title="Rejected, confused, helpless, submissive, insecure or anxious">
					</a>
					<a class="btn btn-scared" href="/#/" role="button" title="Rejected, confused, helpless, submissive, insecure or anxious" ng-click="searchFilmByMood('Scared')">Scared</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Joyful')">
						<img class="mood-icon" src="../../img/Joyful.png" alt="Joyful icon" href="" title="Excited, sexy, energetic, playful, creative or aware">
					</a>
					<a class="btn btn-joyful" href="/#/" role="button" title="Excited, sexy, energetic, playful, creative or aware" ng-click="searchFilmByMood('Joyful')">Joyful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Powerful')">
						<img class="mood-icon" src="../../img/Powerful.png" alt="Powerful icon" href="" title="Faithful, important, hopeful, appreciated, respected or proud">
					</a>
					<a class="btn btn-powerful" href="/#/" role="button" title="Faithful, important, hopeful, appreciated, respected or proud" ng-click="searchFilmByMood('Powerful')">Powerful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Peaceful')">
						<img class="mood-icon" src="../../img/Peaceful.png" alt="Peaceful icon" href="" title="Content, thoughtful, intimate, loving, trusting or nurturing">
					</a>
					<a class="btn btn-paceful" href="/#/" role="button" title="Content, thoughtful, intimate, loving, trusting or nurturing" ng-click="searchFilmByMood('Peaceful')">Peaceful</a>
				</div>
			</li>
			<li>
				<div class="individual-icon">
					<a href="/#/" ng-click="searchFilmByMood('Sad')">
						<img class="mood-icon" src="../../img/Sad.png" alt="Sad icon" href="" title="Guilty, ashamed, depressed, lonely, bored or sleepy">
					</a>
					<a class="btn btn-sad" href="/#/" role="button" title="Guilty, ashamed, depressed, lonely, bored or sleepy" ng-click="searchFilmByMood('Sad')">Sad</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="to-move-scroll"></div>


	<div class="questions-to-filter">
		<p>Do you want to see a film that makes you feel your mood or the opposite?</p>
		<a href="/#/">My mood</a>
		<a href="/#/">The opposite</a>
	</div>
	<div class="questions-to-filter">
		<p>with a duration of...</p>
		<a href="/#/">It doesn't matter</a>
		<a href="/#/">Less than 90'</a>
		<a href="/#/">More than 90'</a>
		<!-- <a href="/#/">Between 90' and 120'</a> -->
		<a href="/#/">More than 120'</a>
	</div>
	<div class="questions-to-filter">
		<p>and produced on...</p>
		<a href="/#/">All times</a>
		<a href="/#/">Older than 1980</a>
		<a href="/#/">Older than 1990</a>
		<a href="/#/">Older than 2000</a>
		<a href="/#/">Older than 2010</a>
	</div>


	<div class="list-films">
		<div class="insert-text"></div>
		<div class="film" ng-repeat="movies in infoFilmSearched">
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path}}" altSrc="{{imageNotFoundCover}}" onerror="this.src = $(this).attr('altSrc')">
			</a>
			<a href="/#/specifications/{{movies.id}}" target="_blank">
				<p><strong>{{ movies.original_title }}</strong></p>
			</a>
			<p><em>{{ movies.release_date | date : 'yyyy' }}</em> &nbsp; &nbsp; <i class="glyphicon glyphicon-star-empty star"></i> {{ movies.vote_average }}</p>
		</div>
		<a href="top" class="go-top"><i class="glyphicon glyphicon-chevron-up"></i> Go top <i class="glyphicon glyphicon-chevron-up"></i></a>
	</div>

</div>