<div class="container">
	<div class="specifications-film">
		<div class="header-cover" ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w500' + specificationsFilmSearched.backdrop_path + ')'}" altStyle="{{imageNotFoundHeaderCover}}" onerror="this.style = $(this).attr('altStyle')">
			<div class="cover" ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w500' + specificationsFilmSearched.poster_path + ')'}" altStyle="{{imageNotFoundCover}}" onerror="this.style = $(this).attr('altStyle')"></div>
			<div class="title-film">
				<p class="helvetica-font"><strong>{{ specificationsFilmSearched.original_title }}</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="basic-info">
					<p><i class="glyphicon glyphicon-facetime-video"></i> {{ specificationsFilmSearched.release_date | date : 'yyyy'}}</p>
					<p><i class="glyphicon glyphicon-time"></i> {{ specificationsFilmSearched.runtime || 0}}'</p>
					<p><i class="glyphicon glyphicon-star-empty star"></i> {{ specificationsFilmSearched.vote_average || 0 }}</p>
				</div>
			</div>
			<div class="col-sm-9">
				<h1 class="psynopsis-header">Psynopsis:</h1>
				<div class="psynopsis">
					<p>{{ specificationsFilmSearched.overview }}</p>
				</div>
			</div>
		</div>
		<div class="not-logged">
			<p>You are not logged!&nbsp;&nbsp;:(&nbsp;&nbsp;&nbsp;&nbsp;<a href="/#/login">Log in</a></p>
		</div>
		<div class="not-info-complete">
			<p>You miss some info!&nbsp;&nbsp;:(</p>
		</div>
		<div class="info-complete">
			<p>Info saved!&nbsp;&nbsp;:)</p>
		</div>
		<div class="film-seen">
			<div class="seen-info-A">
				<!-- <div ng-controller="seeFilmController">
					<a ng-click="movieSeen(specificationsFilmSearched.id)" href=""><img class="img-imagotipo" src="../../img/miofilm-imagotipo-grey.png" alt=""></a>
				</div> -->
				<h3 class="androgyne-font">If you have seen the movie, rate it!</h3>
				<form ng-controller="rateFilmController">
				  <fieldset>
				    <span class="star-cb-group">
				      <input class="star" type="radio" id="rating-10" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(10)" value="10" ng-checked="selectedRating === '10'" /><label for="rating-10">10</label>
				      <input class="star" type="radio" id="rating-9" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(9)" value="9" ng-checked="selectedRating === '9'" /><label for="rating-9">9</label>
				      <input class="star" type="radio" id="rating-8" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(8)" value="8" ng-checked="selectedRating === '8'" /><label for="rating-8">8</label>
				      <input class="star" type="radio" id="rating-7" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(7)" value="7" ng-checked="selectedRating === '7'" /><label for="rating-7">7</label>
				      <input class="star" type="radio" id="rating-6" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(6)" value="6" ng-checked="selectedRating === '6'" /><label for="rating-6">6</label>
				      <input class="star" type="radio" id="rating-5" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(5)" value="5" ng-checked="selectedRating === '5'" /><label for="rating-5">5</label>
				      <input class="star" type="radio" id="rating-4" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(4)" value="4" ng-checked="selectedRating === '4'" /><label for="rating-4">4</label>
				      <input class="star" type="radio" id="rating-3" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(3)" value="3" ng-checked="selectedRating === '3'" /><label for="rating-3">3</label>
				      <input class="star" type="radio" id="rating-2" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(2)" value="2" ng-checked="selectedRating === '2'" /><label for="rating-2">2</label>
				      <input class="star" type="radio" id="rating-1" name="{{$parent.resultDetailsBeer.id}}Rating" ng-model="$parent.resultDetailsBeer.rating" ng-change="rate(1)" value="1" ng-checked="selectedRating === '1'" /><label for="rating-1">1</label>
				    </span>
				  </fieldset>
				</form>
			</div>
			<div class="icons-felt" ng-controller="moodFilmController">
				<h3 class="androgyne-font">How did you feel seeing the film?</h3>
				<ul>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Mad')">
								<img class="mood-icon" src="img/Mad.png" alt="Mad icon" title="Hurt, hostile, angry, rage, hateful or critical">
							</a>
							<!-- <a class="btn btn-mad" href="" role="button" title="Hurt, hostile, angry, rage, hateful or critical" ng-click="moodFelt('Mad')">Mad</a> -->
						</div>
					</li>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Scared')">
								<img class="mood-icon" src="img/Scared.png" alt="Scared icon" title="Rejected, confused, helpless, submissive, insecure or anxious">
							</a>
							<!-- <a class="btn btn-scared" href="" role="button" title="Rejected, confused, helpless, submissive, insecure or anxious" ng-click="moodFelt('Scared')">Scared</a> -->
						</div>
					</li>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Joyful')">
								<img class="mood-icon" src="img/Joyful.png" alt="Joyful icon" title="Excited, sexy, energetic, playful, creative or aware">
							</a>
							<!-- <a class="btn btn-joyful" href="" role="button" title="Excited, sexy, energetic, playful, creative or aware" ng-click="moodFelt('Joyful')">Joyful</a> -->
						</div>
					</li>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Powerful')">
								<img class="mood-icon" src="img/Powerful.png" alt="Powerful icon" title="Faithful, important, hopeful, appreciated, respected or proud">
							</a>
							<!-- <a class="btn btn-powerful" href="" role="button" title="Faithful, important, hopeful, appreciated, respected or proud" ng-click="moodFelt('Powerful')">Powerful</a> -->
						</div>
					</li>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Peaceful')">
								<img class="mood-icon" src="img/Peaceful.png" alt="Peaceful icon" title="Content, thoughtful, intimate, loving, trusting or nurturing">
							</a>
							<!-- <a class="btn btn-paceful" href="" role="button" title="Content, thoughtful, intimate, loving, trusting or nurturing" ng-click="moodFelt('Peaceful')">Peaceful</a> -->
						</div>
					</li>
					<li>
						<div class="individual-icon">
							<a href="" ng-click="moodFelt('Sad')">
								<img class="mood-icon" src="img/Sad.png" alt="Sad icon" title="Guilty, ashamed, depressed, lonely, bored or sleepy">
							</a>
							<!-- <a class="btn btn-sad" href="" role="button" title="Guilty, ashamed, depressed, lonely, bored or sleepy" ng-click="moodFelt('Sad')">Sad</a> -->
						</div>
					</li>
				</ul>
			</div>
			<div class="send-info-btn" ng-controller="sendInfoSeenFilmController">
				<a class="btn btn-turquoise" ng-click="sendInfoSeenFilm(specificationsFilmSearched.id)" href="">Save info in profile <i class="glyphicon glyphicon-send"></i></a>
			</div>
		</div>
	</div>
</div>