<div class="container">
	<p>SIGN IN</p>
	<form ng-submit="submit()">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="userName">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="userPassword">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<p class="failed-signin">User exists</p>
</div>